#main {
  display: grid;
  background-color: black;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.album {
  color: white;
  background-color: rgb(0, 0, 0);
}

.album img {
  width: 90%;
}
