<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mumble</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <header>
      <a href="/">
        <img src="../static/img/mublbelogo.png" alt="" />
      </a>
      <a href="/about" id="about_link">ABOUT US</a>
    </header>
    <div id="about_main">
      <h1>ABOUT US</h1>
    </div>
    <div id="about_text">
      <p>
        When reading movie critics in the newspaper, what are the first thoughts
        that pop into your mind? Is it disagreement with the critic’s thoughts
        and perceptions about the particular movie or is it agreement? Hearing
        or reading someone’s criticism of a movie is a very sensitive process as
        it will most likely shape your experience of said movie in a way. If
        you’ve heard that the film is supposedly good, then you may perceive it
        differently. We believe the same goes for music and albums. Though
        rather than wanting to leave the reader with either the thought of
        agreement or disagreement, we want to leave them with an “awe” sensation
        because of how much time and effort we put into our reviews. In many
        ways, the work of a critic is easy. We risk very little yet enjoy a
        position over those who offer up their work and their selves to our
        judge.
      </p>
      <h2>OUR RATING PROCESS</h2>
      <p>
        When going through an album or a song, we hope your mind will strive to
        enjoy that album/song. The reason being is that music is made for
        enjoyment. If we cannot enjoy what we are listening to, then why listen
        to it at all? This is the thing that drives us here at mumble. When we
        are at work we listen to music, we rate it and categorize it so that you
        don’t have to. This is to make it easier for you to find that album or
        song which your mind will come to enjoy. When we first go to rate an
        album, we try our best to rate it fairly and without any bias. We rate
        it based on the amount of work which has gone into the lyrics, the song
        composition, how the songs fit each other and many other things. We also
        find our favorite song out of all the songs in the album. This is so
        that new listeners can have a taste of the album through that one song.
      </p>
    </div>
    <footer id="about-footer">
      <img src="../static/img/mublbelogo.png" alt="" />
    </footer>
  </body>
</html>
