<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mumble</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <header>
      <a href="/">
        <img src="../static/img/mublbelogo.png" alt="" />
      </a>
    </header>
    <div id="mainbody">
      {% for album in musikkalbum %}
      <img id="albumcover" src="../static/img/{{album.cover}}" alt="" />
      <h1 id="albumtitle">{{album.name}}</h1>
      <h2 id="date">{{album.release_date}}</h2>
      <h1 id="artist">{{album.artist}}</h1>
      <div id="rating">
        <h1>{{album.overall_rating}}</h1>
      </div>
      <p id="short_text">{{album.text}}</p>
      {% for sang in sanger %}
      <div id="songlist">
        <h2 id="songtrack">{{sang.track_number}}</h2>
        <h3 id="songtitle">{{sang.name}}</h3>
      </div>
      {% endfor %} {% endfor %}
    </div>
    <footer>
      <img src="../static/img/mublbelogo.png" alt="" />
    </footer>
  </body>
</html>
