<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mumble</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <header id="topbox">
      <h1>Ka inni faen</h1>
    </header>
    {% for sang in sanger %}
    <h1>{{sang.name}}</h1>
    {% endfor %}
  </body>
</html>
