<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ski</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>

  <body>
    <div id="pakker">
      <h1>Albumer</h1>
      <br />
      <a class="meny" href="/">Hjem </a>
      <a class="meny" href="/liste/navn">Liste </a>
      <br />
      <br />
      <table>
        <thead>
          <th>Album Name</th>
          <th>Artist Name</th>
          <th>Release Date</th>
          <th>Genre</th>
          <th>Best Song</th>
          <th>Rating</th>
        </thead>
        <tbody>
          {% for album in musikkalbum %}
          <tr>
            <img src="static/img/{{album.cover}}" alt="">
            <td>{{album.name }}</td>
            <td>{{album.artist}}</td>
            <td>{{album.release_date}}</td>
            <td>{{album.genre}}</td>
            <td>{{album.best_song}}</td>
            <td>{{album.overall_rating}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
