<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mumble</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>

  <body>
    <div id="pakker">
      <h1>Albumer</h1>
      <br />
      <a class="meny" href="/">Hjem </a>
      <a class="meny" href="/liste/navn">Liste </a>
      <br />
      <br />
      <div id="main">
        {% for album in musikkalbum %}
        <div class="album">
          <img src="../static/img/{{album.cover}}" alt="" />
          <h1>{{album.name}}</h1>
          <h2>{{album.artist}}</h2>
          <h2>{{album.release_date}}</h2>
          <h2>{{album.genre}}</h2>
          <h2>{{album.best_song}}</h2>
          <div class="rating">
            <h1>{{album.overall_rating}}</h1>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
