<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mumble</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>

  <body>

    <header>
      <img src="../static/img/mumblelogo.png" alt="">
    </header>

   
    <div id="main">
      {% for album in musikkalbum %}
      <div class="album">
        <img src="../static/img/{{album.cover}}" alt="">
        <div class="text">
        <h1 class="name">{{album.name}}</h1>
        <h2 class="artist">{{album.artist}}</h2>
        <h2 class="date">{{album.release_date}}</h2>
        <h2>GENRE: {{album.genre}}</h2>
        <h2>BEST SONG: {{album.best_song}}</h2>
        <div class="rating">
          <h1>{{album.overall_rating}}</h1>
        </div>
      </div>
        
      </div>
      {% endfor %}
    </div>
    
  </body>
</html>
